<section class="contactPage">
	<div class="contactPage__wrapper">
        {% if section.settings.contact_page_title != '' %}
          <h1>{{ section.settings.contact_page_title }}</h1>
        {% endif %}
		<div class="contactPage__row">
            <div class="contactPage__col">
                {% if section.settings.contact_page_companyinfo != '' %}
                <div class="contactPage__companyName">
                    <span>{{ section.settings.contact_page_companyname }}</span>
                </div>  
                {% endif %}
                {% if section.settings.contact_page_companyinfo != '' %}
                <div class="contactPage__companyInfo">
                    <span>{{ section.settings.contact_page_companyinfo }}</span>
                </div>
                {% endif %}
            </div>
          
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "Contact info",
    "settings": [
      {
        "type": "header",
        "content": "Section Title"
      },
      {
        "type": "text",
        "id": "contact_page_title",
        "label": "Page title",
        "default": "Kontakty"
      },
      {
        "type": "text",
        "id": "contact_page_companyname",
        "label": "Company name",
        "default": "Název společnosti"
      },
      {
        "type": "textarea",
        "id": "contact_page_companyinfo",
        "label": "Údaje o společnosti"
      },
      {
        "type": "textarea",
        "id": "conact_page_bankid",
        "label": "Bankovní informace"
      },
      {
        "type": "text",
        "id": "conact_page_phone",
        "label": "Telefonní číslo",
        "default": "123456789"
      },
      {
        "type": "text",
        "id": "conact_page_email",
        "label": "E-mail",
        "default": "email@email.cz"
      }
    ],
    "presets":[
      {
        "name": "Contact informations",
        "category": "Contact header"
      }
    ]
      
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}