<section class="wow animate__fadeIn">
    <div class="container">
        <div class="row">
           <hr class="line">
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Divider",
    "presets":[
    {
        "name": "Divider",
        "category": "About Modern"
    }
    ]
}
{% endschema %}
<style>
 hr.line{
    border: 1px solid rgba(0,0,0,.2);
 }
</style>