<!-- our-brand-area start -->
<section class="icons-section">
  <div class="container-fluid container-col">
    <div class="icons-container" id="icons-slider">
          {% for block in section.blocks %}
          <div class="icon-col">
               {{ block.settings.brand_image | file_url | img_tag  }}
                <p class="icon-title">{{ block.settings.title}}</p>
                <p>{{ block.settings.text}}</p>
            </div>
          {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Icons",
  "settings": [
  
  ],
  "blocks":[
  {
    "type": "Icon",
    "name": "Icon",
    "settings": [
    {
      "type": "text",
      "id": "brand_image",
      "label": "Icon svg (files)"
    },{
      "type": "text",
      "id": "title",
      "label": "Title"
    },{
      "type": "text",
      "id": "text",
      "label": "Text"
    }
    ]
  }
  ],
  "presets":[
  {
    "name": "Icons"
  }
  ]
}
{% endschema %}

<style>
  .icons-section .container-col{
      border-top:1px solid rgba(0,0,0,0.1);
      border-bottom: 1px solid rgba(0,0,0,0.1);
      max-width:1600px;
      padding:50px 0;
      margin:100px auto;
  }
 .icons-container{
      display:flex;
      justify-content: center;
      text-align: center;
      gap:40px;
      padding:0 100px;
 }
 .icons-container img{
     height:50px;
     margin-bottom:20px;
 }
 .icon-col{
     font-size:16px;
     width: 25%;
     padding: 0 20px;
 }
 .icon-col p{
  margin:0;
  line-height: 24px;
 }

 .icon-col img {
  display: block;
  max-width: 54px;
  width: 100%;
  margin: 0 auto 20px;
}

 .icon-title{
     font-weight: 700;
     text-transform: uppercase;
     color:#000;
 }

 @media(max-width:1200px){
  .icons-section .container-col{
      padding:30px 0;
  }
  .icons-container{
      padding:50px 0;
      flex-wrap: wrap;
  }
  .icon-col{
      width:40%;
  }
 }

@media(max-width:940px) {
  .icons-section .container-col {
    margin: 50px auto;
  }
  .icons-container{
    display:block;
  }
  .icon-col {
    width: auto;
  }   
}

@media(max-width:640px) {
  .icons-section .container-col {
    margin: 20px auto;
  }
  .icons-container {
    padding: 0;
  }
}
</style>

<script type="text/javascript">
$( document ).ready(function() {
  var blogSlider = $('#icons-slider');
    blogSlider.slick({
      arrows: false,
      autoplay: false,
      dots: false,
      pauseOnFocus: true,
      pauseOnHover: true,
      infinite: true,
      slidesToShow: 4,
      prevArrow: '<button type="button" class="slick-prev"><i class="icon-arrow-left"></i></button>',
      nextArrow: '<button type="button" class="slick-next"><i class="icon-arrow-right"></i></button>',
      responsive: [
        {
          breakpoint: 940,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2,
            dots: true,
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            dots: true
          }
        },
      ]
    });
  });
</script>