<section class="tcCustom">
    <div class="container">
      <div class="row">
        <div class="tcCustom__content">
            <div class="tcCustom__body">
                {{ section.settings.custom_text_body }}
            </div>
            {% for block in section.blocks %}
                {{ block.settings.list_title }}
            {% endfor %}
        </div>
      </div>
    </div>
  </section>
  {% schema %}
  {
    "name": "Terms & Condition Custom",
    "settings": [
        {
            "type": "richtext",
            "id": "custom_text_body",
            "label": "Text",
            "default": "<p>Terms & Condition Custom section</p>"
        }
    ],
    "blocks":[
    {
      "type": "terms-condition-custom",
      "name": "Terms & Condition Custom",
      "settings": [
        {
            "type": "richtext",
            "id": "custom_text_body_more",
            "label": "Text",
            "default": "<p>Terms & Condition Custom section</p>"
        }
      ]
    }
    ],
    "presets":[
    {
      "name": "Terms & Condition Custom",
      "category": "Terms & Condition Custom"
    }
    ]
  }
  {% endschema %}
  