<section class="tcCustom">
    <div class="container">
      <div class="row">
        <div class="tcCustom__content">
            <div class="tcCustom__body">
                {{ section.settings.custom_text_body }}
            </div>
            <ul>
              {% for block in section.blocks %}
              <li class="wow animate__fadeInUp">
                <div class="rule-wrapper">
                  <h6>{{ block.settings.list_title }}</h6>
                  <p>{{ block.settings.list_desc }}</p>
              </li>
              {% endfor %}
            </ul>
          
        </div>
      </div>
    </div>
  </section>
  {% schema %}
  {
    "name": "Terms & Condition Custom",
    "settings": [
        {
            "type": "richtext",
            "id": "custom_text_body",
            "label": "Text",
            "default": "<p>Terms & Condition Custom section</p>"
        }
    ],
    "blocks":[
    {
      "type": "terms-condition-custom",
      "name": "Terms & Condition Custom",
      "settings": [
        {
            "type": "richtext",
            "id": "custom_text_body_more",
            "label": "Text",
            "default": "<p>Terms & Condition Custom section</p>"
        }
      ]
    }
    ],
    "presets":[
    {
      "name": "Terms & Condition Custom",
      "category": "Terms & Condition Custom"
    }
    ]
  }
  {% endschema %}
  