@import '../core/breakpoints';

.about-section1 {
    .section-arrow {
        max-width: 500px;
        width: 100%;
        margin: 40px auto 0;
        font-size: 18px;
        @include max640px {
            font-size: 15px;
            padding: 40px 20px 0;
        }
    }
}

.about-section2 {
    h2, h3, h6 {
        text-align: center;
    }

    h2 {
        font-size: 40px;
        margin-bottom: 30px;
        font-weight: 600;
        @include max640px {
            font-size: 24px;
        }
    }

    p {
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .list-content {
        margin-top: 60px;
        ul {
            display: flex;
            justify-content: space-between;
            @include max768px {
                flex-flow: row wrap;
                justify-content: center;
            }
        }

        li {
            width: 30%;
            @include max768px {
                width: 42.5%;
                padding: 0 1.5rem;
            }

            @include max480px {
                width: 100%;
            }
        
        }
    }
}

.about-section4 {
    overflow: hidden;
}
  