.best-quality-cont {
    .best-quality-desc {
        h2 {
            color: #000;
            margin-bottom: 30px;
        }
    }
}

.best-quality-area {
    .best-quality-img {
        .img-fluid {
            max-width: 500px;
        }
    }
}

.best-quality-area--rtl {
    .best-quality-cont {
        padding-right: 6rem;
    }
}