.otCookiesNotification {
    #cookies-wrapper {
        width: 400px;
        left: 20px;
        bottom: 20px !important;
        right: auto;
        padding: 2rem !important;
    }

    #cookies-message {
        text-align: left;
        font-size: 16px;
        line-height: 1.5;
    }

    #cookies-privacy {
        left: 5px !important;
        width: 50% !important;
    }

    #cookies-more-info {
        
    }

    #cookies-dismiss {
        display: none;
    }

    #cookies-preferences {
        > span {
            padding: 0.5em 1em;
            border: 0;
        }
    }

    #cookies-submit {
        > span {
            padding: 0.5em 1em;
            font-size: 1em;
        }
    }
}
