.otCookiesNotification {
    #cookies-wrapper {
        width: 400px;
        left: 20px;
        bottom: 20px;
        right: auto;
    }

    #cookies-message {
        p {
            text-align: left;
        }
    }

    #cookies-more-info {
        
    }

    #cookies-dismiss {
        display: none;
    }
}