.checkbox {
    .checkbox__label {
        display: flex;
        align-items: center;
        cursor: pointer !important;
    }
}

#company-address,
#company-address-2 {
    display: none;
}

.cust-form--companyInput {
    margin: 0;
}
