.product-inventory {
    .in-stock {
        span {
            margin-left: 5px;
            font-size: 14px;
        }
    }

    .out-stock {
        span {
            color: #198754;
        }
    }
}

.product_details_info {
    .product-inventory {
        .in-stock, .out-stock {
            span {
                font-size: 16px;
            }
        }
    }
}