.product-inventory {
    .in-stock {
        span {
            margin-left: 5px;
            font-size: 14px;
        }
    }

    .out-stock {
        span {
            color: #198754;
        }
    }
}

.product_details_info {
    .product-inventory {
        .in-stock, .out-stock {
            span {
                font-size: 16px;
            }
        }
    }
}

.product-beige {
    @include max768px {
        .product-title {
            margin-bottom: 10px;
        }
    }
}

.product-sku-mobile {
    flex-direction: column;
    div {
        margin-bottom: 5px;
    }
}

.product-meta {
    margin-top: 1rem;
    span {
        border: 1px solid;
    }

    .product-meta__lightSource {
        color: #E0B566;
        border-color: #E0B566;
    }

    .product-meta__performance {
        color: #69A2EC;
        border-color:#69A2EC;
    }

    .product-meta__luminos {
        color: #69EC6A;
        border-color: #69EC6A;
    }

    .product-meta__color {
        color: #EC6969;
        border-color: #EC6969;
    }
}