.customer-page .log-acc-page .login-form-container ul.fill-form li i {
    
}

.customer-page .log-acc-page .login-form-container input {
    padding-left: 70px;
}

.feather-user {
    left: 30px;
    right: auto;
}