.customer-page .log-acc-page .login-form-container input {
    padding-left: 70px;
}

.customer-page {
    .log-acc-page {
        .login-form-container {
            li i {
                left: 30px;
                right: auto;
            }

            input {
                padding-left: 70px;
            }
        }
    }
}
