.frcp-divider {
    text-align: center;
    &:before, &:after {
        content: '';
        height: 1px;
        width: 45%;
        background-color: grey;
        @include max480px {
            width: 40%;
        }
    }

    &:before {
        left: 0;
    }

    &:after {
        right: 0;
    }
}